
body, html {
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  font-size: 15px;
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-rendering:geometricPrecision;
  line-height:1.5em;
}

b, strong {
  font-weight: 600;
  color: #1b1b1b;
}

#title {
  padding: 30px;
  border: 1px;
  border-radius: 10px;
  background: #FAFAFA;
  text-align: center;
  font-size: 2em;
  margin-bottom:25px;
}

#navigation {
  background-color:#DEE3E9;
  border-bottom:1px solid #B9C3CF;
}

#navigation ul {
  padding: 0px;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

#navigation > ul {
  display: none;
  padding: 25px;
  padding-top: 30px;
}

#navigation a {
  text-decoration:none;
  color: #18212A;
}

#navigation a:hover {
  text-decoration:underline;
}

#content {
  padding:25px;
}

#toc {
  background: #f7f8f9;
  font-size: 0.8em;
  line-height: 1.3em;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.toctitle {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  padding-top: 10px;
}

#toc ul {
  list-style-type: none;
  padding: 0px;
  padding-left: 10px;
}

#toc > ul {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 20px;
}

#toc ul li {
  margin-top: 0.2em;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.index-item {
  margin-bottom: 1em;
}

#credits a {
  color:#111;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

#content h1:nth-child(1) {
  margin-top:0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.1em;
  color: #4E9A06;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  color: #84384D;
  font-weight: 300;
  font-size: 2.7em;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px dotted #B9C3CF;
}

h2 {
  color: #428DB5;
  font-weight: 400;
  font-size: 1.8em;
}

h3 {
  color: #4BB75F;
  font-weight: 400;
  font-size: 1.4em;
}

p {
  margin-top: 0;
}

#content a {
  color: #665257;
  font-weight: 450;
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

#content a:active {
  text-decoration: underline;
}

#content strike {
  color: grey;
}

#content u {
  text-decoration: none;
  background-color: yellow;
}

#content tt, #content pre {
  color: #141618;
  background: #f7f8f9;
  border-radius: 5px;
  font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

#content tt {
  padding: 0 0.5em;
}

#content pre {
  border: 1px dotted #bbb;
  padding: 30px;
  line-height: 1.5em;
}

#more {
  grid-column: span 2;
  grid-row: row;
  background-color: #DEE3E9;
  border-top: 1px solid #B9C3CF;
  border-bottom: 1px solid #B9C3CF;
  font-size: 0.7em;
  text-align: center;
  padding: 10px;
  color: #111;
}

th, td{
  vertical-align: middle;
}

table {
  -moz-border-image: none;
  border-collapse: separate;
  border-radius: 4px 4px 4px 4px;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  background-color: transparent;
  border-spacing: 0;
  max-width: 100%;
}

thead th {
  border-left: 1px solid #DDDDDD;
  line-height: 18px;
  padding: 8px;
}

th, td {
  border-left: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  line-height: 18px;
  padding: 8px;
}

tbody tr:nth-child(2n+1) td, tbody tr:nth-child(2n+1) th {
  background-color: #F9F9F9;
}

hr.footrule {
  width: 20%;
  margin-left: 0;
  margin-top: 2em;
  color: #B9C3CF;
}

span.zim-tag {
  color: #ce5c00;
}

div.zim-object {
  border-style:solid;
  border-width:1px;
}

.toggle {
  padding-top: 30px;
  padding-right: 20px;
  width: 50px;
  height: 40px;
  display: inline;
  float: right;
}

.toggle line {
  stroke: #428DB5;
  stroke-width:2;
}

@media screen and (min-width: 950px) {
  .wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-row-gap: 15px;
  }
  #navigation {
    border-radius: 0 0 15px 0;
    border-right:1px solid #B9C3CF;
  }
  .toggle {
    display: none;
  }
  #navigation ul {
    display: block;
  }
  #content {
    padding:65px;
  }
  #toc {
    float: right;
  }
  #toc > ul {
    padding-bottom: 0;
  }
}

@media print {
  body, html {
    font-size: 13px;
  }
  #navigation {
    display: none;
  }
  #footblock {
    display: none;
  }
  #credits {
    display: none;
  }
  #content {
    padding: 0;
  }
  h1 {  
    margin-bottom: 0;
  }
  #toc {
    padding: 0;
  }
  .toctitle {
    text-align: left;
  }
}

